@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre-exp.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre.min.css");

.width100 {
  width: 100%
  }

#search:focus {
  z-index: auto;
  }

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    }
  }

body {
  padding-top: 32px; padding-bottom: 32px;
  background: #333A42;
  }

.card {
  border-width: 0px;
  }

.chip {
  background: #009494;
  color: #FFFFFF;
  border-radius: 1px;
  margin-bottom: 5px; margin-right: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  }

.tag-selected {
  color: #054958;
  background: #05F1F5;
  }

.dccon {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  }

/* .dccon>.card>.card-body {
  height: 70px;
  } */

#search_clear {
  cursor: pointer;
  }

.toast-container {
  position: fixed;
  bottom: 0px; right: 0px;
  padding: 16px;
  z-index: 400;
  }

.toast {
  margin-top: 8px;
  }

.menu {
  max-height: 360px;
  overflow-y: scroll;
  overflow-x: hidden;
  }

.dccon.tooltip::after {
  display: table;
  background: rgba(255,255,255,0.5);
  color: #000;
  text-align: center;
  vertical-align: middle;
  border: solid #FFF 1px;
  width: 100px;
  /* margin-left: 9px; margin-right: 9px; */
  height: 100px;
  /* padding: 12px; padding-right: 28px; */
  padding: 10px;
  /* white-space: pre-line; */
  white-space: pre-wrap;
  border-radius: 0px;
  box-shadow: 0px 0px 10px 2.5px #FFF;
  top: 12px; left: 60px;
  }

.dccon.tooltip.tooltip-bottom:focus::after,
.tooltip.tooltip-bottom:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  }

.col-15 {
  width: 12.5%;
  flex: none;
  }

div.card {
  background: transparent;
  border-radius: 0px;
  }

.img-background {
  opacity: 0;
  width: 100px;
  height: 100px;
  }

.card, .card-image {
  height: 100%;
  }

.card-image {
  position: relative;
  width: 100px;
  }

.img-responsive.width100.lazy {
  position: absolute;
  top:0; bottom:0; left:0; right:0;
  margin: auto;
  }

.container {
  max-width: 1280px;
  padding: 15px;
  vertical-align: middle;
  }

.bottom ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }

.bottom li {
  text-align: center;
  vertical-align: middle;
  }

.bottom li a {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  }

.GotoTwitch ul {
  float: left;
  }

.GotoTwitch li {
  display: block;
  background-color: #6441A4;
  padding: 10px;
  font-size: 18px;
  }

.Copyright ul {
  float: right;
  }

.Copyright li {
  float: left;
  border-left: 1px solid #fff;
  padding-left: 3px;
  padding-right: 3px;
  }

.Copyright li:first-child {
  border-left: none
  }
